@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Thanh cuộn */
::-webkit-scrollbar {
  width: 8px; /* Độ rộng */
}

/* Phần track của thanh cuộn */
::-webkit-scrollbar-track {
  background: #555; /* Màu nền */
}

/* Phần thumb của thanh cuộn */
::-webkit-scrollbar-thumb {
  background: #121212; /* Màu thumb */
  border-radius: 8px; /* Bo tròn nhiều hơn */
}

/* Hover vào thumb */
::-webkit-scrollbar-thumb:hover {
  background: #242424; /* Màu khi hover */
}
